  @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
  /* font-family: 'Raleway Dots', cursive; */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c06767;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
body {
  margin: 0;
  font-family: 'Raleway', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.welcome {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbar .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}
a:hover {
  color: #535bf2;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg,#5651e5,#709dff 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0);
  border-bottom: none;
}


nav {
  background-color: rgba(255, 127, 80, 0.667);
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgba(12, 119, 83, 0.911);
  border-bottom: 2px solid rgba(12, 119, 83, 0.911);
  transition: 0.1s;
}

nav a:active {
  color: wheat;
  border-bottom: 2px solid wheat;
}

nav a.active {
  background-color: black;
  color: white;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}